/* Start - Header */

.header {
  background-color: var(--primary-homepage);
}

.nav-item {
  margin-right: 1rem;
}

.offcanvas {
  max-width: 12rem;
}

@media screen and (min-width: 56rem) {
  .offcanvas {
    max-width: initial;
  }
}

.offcanvas-body {
  margin-top: -2rem;
}

.navbar {
  padding: 1rem 0;
}

.navbar-toggler {
  border: 0;
}

@media screen and (min-width: 56rem) {
  .offcanvas-body {
    margin-top: initial;
  }

  .navbar-nav {
    gap: initial;
  }
}

/* End - Header */

/* Start - Homepage */

#homepage {
  margin-top: -4rem;
  padding-top: 6rem;
  background-color: var(--primary-homepage);
  display: flex;
}

.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.homepage__car-wrapper {
  width: 100%;
}

.homepage__car-container {
  margin-right: -1rem;
}

.homepage__car {
  width: 100%;
}

@media screen and (min-width: 56rem) {
  .homepage__container {
    flex-direction: row;
  }

  .homepage__text {
    margin-bottom: 2rem;
  }
}

/* End - Homepage */

/* Start - Our Service */

#our-services {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 56rem) {
  #our-services {
    flex-direction: row;
  }
}

.our-services__text {
  max-width: 30rem;
}

.our-services__list-container {
  display: grid;
  gap: 1rem;
  padding-left: 0;
}

.our-services__list-item {
  display: flex;
  gap: 1rem;
}

/* End - Our Service */

/* Start - Why Us  */
#why-us {
  display: grid;
  gap: 1rem;
}

.why-us__card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.why-us__card {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--primary-neutral-200);
  border-radius: 1rem;
}

/* End - Why Us */

/* Start - Testimonial */
#testimonial {
  display: grid;
  text-align: center;
  gap: 1rem;
}

.carousel {
  background-color: var(--primary-homepage);
  max-width: 56rem;
  border-radius: 0.5rem;
  text-align: initial;
}

.carousel-control-prev,
.carousel-control-next {
  height: fit-content;
  transform: scale(0.4, 0.6);
  margin: auto 0.5rem;
  margin-top: 2rem;
}

.carousel-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel-item__container {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
}

.carousel-item__rating {
  margin: 0 auto;
}

.carousel-item__text {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 56rem) {
  .carousel-control-prev,
  .carousel-control-next {
    transform: initial;
    margin: auto 0;
  }

  .carousel-item__container {
    flex-direction: row;
    margin: 4rem 8rem;
  }

  .carousel-item__rating {
    margin: initial;
  }
}

/* End - Testimonial */

/* Start - CTA  */

.cta__banner {
  color: white;
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 1rem;
  padding: 4rem;
  border-radius: 0.5rem;
  background-color: var(--primary-blue-400);
}

.cta__description {
  max-width: 28rem;
}

/* End - CTA */

/* Start - FAQ */
#faq {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

@media screen and (min-width: 56rem) {
  #faq {
    flex-direction: row;
  }
}

.faq__text {
  display: grid;
  gap: 1rem;
  align-content: start;
  width: 100%;
  max-width: 32rem;
}

.accordion {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.accordion-item,
.accordion-button {
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color) !important;
  border-radius: var(--bs-accordion-border-radius) !important;

  .accordion-collapse {
    @apply visible;
  }
}

.accordion-button {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* End - FAQ */

/* Start - Footer */

footer {
  display: flex;
  gap: 4rem;
  margin: 4rem auto !important;
  flex-wrap: wrap;
}

.footer__section {
  width: 100%;
  max-width: initial;
}

.footer__section-item {
  display: flex;
  gap: 1rem;
}

.footer_section-nav {
  display: grid;
  gap: 1rem;
  justify-content: initial;
}

@media screen and (min-width: 56rem) {
  .footer__section {
    max-width: 16rem;
  }

  .footer__section-nav {
    justify-content: center;
  }
}

/* End - Footer */
