/* Start - Search Car */

.search-car__container {
  max-width: 86rem;
}

.search-car__form-container {
  box-shadow: 0px 0px 10px 0px #00000026;
  padding: 2rem;
  border-radius: 0.5rem;
  background: white;
  transform: translateY(-2rem);
}

.search-car__options {
  display: flex;
  gap: 1rem;
  align-items: end;
  flex-wrap: wrap;
}

div.form-control {
  display: flex;
  outline: none;
  justify-content: space-between;
}

.search-car__filter {
  width: 100%;
  max-width: 240px;
}

input,
select {
  width: 100%;
  outline: none;
  border: none;
}

input:focus,
select:focus {
  box-shadow: none !important;
}

.form-control > select,
input {
  width: 100%;
  padding: 0 !important;
  outline: none !important;
  border: none !important;
}

.form-control > select {
  padding-left: 0.75rem !important;
}

.form-control:has(select) {
  padding-left: 0;
}

input + img {
  position: absolute;
  top: 8px;
  right: 12px;
  pointer-events: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.search-car__card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.search-car__car-card {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  border-radius: 1rem;
  background: white;

  display: grid;
  gap: 2rem;
  align-content: space-between;
}

.search-car__card-inner-container {
  display: grid;
  gap: 2rem;
}

.search-car__card-img {
  width: 100%;
  height: 208px;
  object-fit: cover;
  border-radius: 1rem;
}

.search-car__card-info-container {
  display: grid;
  gap: 0.5rem;
}

.search-car__card-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search-car__card-info > p {
  margin: 0;
}

/* End - Search Car */
