<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- use title var -->
    <h1><%= title %></h1>
    <% cars.forEach(function(car) { %>
    <p><%= car %> test</p>
    <% }); %>
  </body>
</html>
