:root {
  --primary-blue-100: #cfd4ed;
  --primary-blue-200: #aeb7e1;
  --primary-blue-300: #8d9ad5;
  --primary-blue-400: #0d28a6;
  --primary-blue-500: #091b6f;
  --primary-green-100: #def1df;
  --primary-green-200: #c9e7ca;
  --primary-green-300: #92d094;
  --primary-green-400: #5cb85f;
  --primary-green-500: #3d7b3f;
  --primary-neutral-100: #ffffff;
  --primary-neutral-200: #d0d0d0;
  --primary-neutral-300: #8a8a8a;
  --primary-neutral-400: #3c3c3c;
  --primary-neutral-500: #151515;
  --alert-error: #fa2c5a;
  --alert-warning: #f9cc00;
  --alert-success: #73ca5c;
}

body {
  font-family: Helvetica;
}

.container {
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Start - Components */
.btn-success {
  background-color: var(--primary-green-400);
}

/* End - Components */

/* Start - Header */

.header {
  background-color: rgba(241, 243, 255, 0.6);
}

.nav-item {
  margin-right: 1rem;
}

.offcanvas-body {
  margin-top: -2rem;
}

.navbar-nav {
  gap: 0.25rem;
}

@media screen and (min-width: 56rem) {
  .offcanvas-body {
    margin-top: initial;
  }

  .navbar-nav {
    gap: initial;
  }
}

/* End - Header */

/* Start - Homepage */

.homepage {
  margin-top: -4rem;
  padding-top: 4rem;
  background-color: #f1f3ff;
  display: flex;
}

.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* 56rem = 596px / 4xl */
@media screen and (min-width: 56rem) {
  .homepage__container {
    flex-direction: row;
  }
}

/* End - Homepage */

/* Start - Our Service */

.our-service {
  margin: 4rem 0;
}

.our-service__container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 56rem) {
  .our-service__container {
    flex-direction: row;
  }
}

.our-service__text {
  max-width: 30rem;
}

.our-service__list-container {
  display: grid;
  gap: 1rem;
  padding-left: 0;
}

.our-service__list-item {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

/* End - Our Service */

/* Start - Why Us  */
.why-us {
  margin: 4rem 0;
}

.why-us__container {
  display: grid;
  gap: 1rem;
}

.why-us__card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.why-us__card {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--primary-neutral-200);
  border-radius: 1rem;
}

/* End - Why Us */

/* Start - Testimonial */
.testimonial {
  margin: 4rem 0;
}

.testimonial__container {
  display: grid;
  text-align: center;
  gap: 2rem;
}

.carousel {
  background-color: rgba(241, 243, 255);
  max-width: 56rem;
  border-radius: 0.5rem;
  text-align: initial;
}

.carousel-item__container {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin: 4rem 5rem;
  flex-direction: column;
  align-items: center;
}

.carousel-item__rating {
  margin: 0 auto;
}

@media screen and (min-width: 56rem) {
  .carousel-item__container {
    flex-direction: row;
    margin: 4rem 8rem;
  }

  .carousel-item__rating {
    margin: initial;
  }
}

.carousel-item__text {
  display: grid;
  gap: 1rem;
}
